<section style="display: flex; flex-direction: column; gap: 30px;">
  <header>
      <h2>⭐️ Bookmarks / Edit</h2>
      <p>Edit your bookmark</p>
  </header>

  <form
      method="POST"
      action="/bookmarks/<%= bookmark.id %>/update"
      style="width: 32.5%; display: flex; flex-direction: column; gap: 10px;"
  >
      <fieldset style="display: flex; flex-direction: column; background-color: var(--background-color);">
          <legend>Edit <%= bookmark.title %></legend>

          <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

          <%~ include('../_components/inputs/text.html', {
              id: 'title',
              name: 'title',
              label: '📝 Name',
              placeholder: 'bang',
              value: state.input && state.input.title ? state.input.title : bookmark.title,
              required: true,
              helpText: 'A descriptive name for your bookmark',
              error: state.errors && state.errors.title ? state.errors.title : undefined
          }) %>

          <%~ include('../_components/inputs/url.html', {
              id: 'url',
              name: 'url',
              label: '🌐 URL',
              placeholder: 'https://example.com/',
              value: state.input && state.input.url ? state.input.url : bookmark.url,
              required: true,
              helpText: 'Enter the full website address, including https:// or http://',
              error: state.errors && state.errors.url ? state.errors.url : undefined
          }) %>

          <%~ include('../_components/inputs/checkbox.html', {
              id: 'pinned',
              name: 'pinned',
              label: '📌 Pin this bookmark',
              checked: (state.input && state.input.pinned === 'on') || bookmark.pinned ? true : false,
              helpText: 'Pinned bookmarks appear at the top of your bookmarks list',
              error: state.errors && state.errors.pinned ? state.errors.pinned : undefined
          }) %>

          <%~ include('../_components/inputs/checkbox.html', {
              id: 'hidden',
              name: 'hidden',
              label: '🔒 Hide this bookmark',
              checked: (state.input && state.input.hidden === 'on') || bookmark.hidden ? true : false,
              helpText: 'Hidden bookmarks are excluded from searches and require your global password to view',
              error: state.errors && state.errors.hidden ? state.errors.hidden : undefined
          }) %>
      </fieldset>

      <div style="display: flex; gap: 10px; justify-content: flex-end;">
          <button type="button" onclick="location.href='/bookmarks'">❌ Cancel</button>
          <button type="submit">💾 Save</button>
      </div>
  </form>
</section>
