VUE_PORT=3000
SERVER_PORT=8080
NODE_ENV="development"

# database
DB_PORT=5432
DB_HOST="postgres" # docker
# DB_HOST="localhost"
DB_USERNAME="username"
DB_PASSWORD="password"
DB_DATABASE="bang"
# DB_URL="postgres://username:password@postgres:5432/bang" # docker
DB_URL="postgres://username:password@localhost:5432/bang" # local

# email
# EMAIL_HOST="smtp.gmail.com" # local
# EMAIL_PORT=587 # local
EMAIL_HOST="mailhot" # docker
EMAIL_PORT=1025 # docker
EMAIL_AUTH_EMAIL=""
EMAIL_AUTH_PASS=""
