services:
    bang:
        container_name: bang
        restart: unless-stopped
        init: true
        build:
            context: ./
            dockerfile: ./Dockerfile.dev
        ports:
            - '${APP_PORT}:${APP_PORT}'
        volumes:
            - ./:/usr/src/app
            - /usr/src/app/node_modules
        environment:
            CHOKIDAR_USEPOLLING: 'true'
            DOCKER_CONTAINER: 'true'
        depends_on:
            - mailpit
        networks:
            - bang_network

    mailpit:
        image: axllent/mailpit@sha256:030f06031ce5c60913ac9363da1ab0d4be6fd2a78147dd0e1ca0fcac665d6b34
        container_name: bang-mailpit
        restart: unless-stopped
        ports:
            - '8025:8025' # Web UI
            - '1025:1025' # SMTP server
        environment:
            MP_SMTP_AUTH_ACCEPT_ANY: 1
            MP_SMTP_AUTH_ALLOW_INSECURE: 1
        networks:
            - bang_network

networks:
    bang_network:
        driver: bridge
