<footer>
  <p>Copyright © 2025. Made with ❤️ by <a href="https://github.com/wajeht" target="_blank" rel="noopener noreferrer">@wajeht</a></p>
  <div>
    <span>|</span>
    <nav>
      <ul>
        <li><a href="https://github.com/wajeht/bang" target="_blank" rel="noopener noreferrer">📂 Github</a></li>
        <li><span>|</span></li>
        <li><a href="/privacy-policy">🔒 Privacy</a></li>
        <li><span>|</span></li>
        <li><a href="/terms-of-service">📜 Terms</a></li>
        <li><span>|</span></li>
        <li><button>🌓 Dark</button></li>
      </ul>
    </nav>
  </div>
</footer>
