<section style="margin-top: 10em; display: flex; justify-content: center; flex-direction: column; gap: 40px; align-items: center; width: 100%;">
  <h1 style="font-size: 2em; font-weight: 900;">⚡️ <%= state.branding.appName %></h1>
  <form method="POST" action="/search" style="display: flex; gap: 5px; width: 50%; position: relative;" role="search">
    <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

    <%~ include('../_components/inputs/search.html', {
      id: 'q',
      name: 'q',
      placeholder: 'Search...',
      label: 'Search',
      ariaLabel: 'Search',
      required: true,
      autofocus: true,
      style: 'width: 100%;',
      submitOnClear: false
    }) %>
    <button type="submit" aria-label="Submit search">🔎</button>
  </form>
</section>
