<div style="display: flex; flex-direction: column; gap: 20px;">
  <div>
      <h2>🔖 Bookmarks / Edit</h2>
      <p>Edit your bookmark</p>
  </div>

  <form
      method="POST"
      action="/bookmarks/<%= bookmark.id %>/update"
      style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;"
  >
      <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

      <div style="display: flex; flex-direction: column; gap: 5px;">
          <label for="title">📝 Name<span style="color: red;">*</span></label>
          <input
              type="text"
              id="title"
              name="title"
              placeholder="bang"
              value="<%= bookmark.title %>"
              style="width: 100%;"
              required
          >
          <% if (state.errors.title) { %>
              <small style="color: red;"><%= state.errors.title %></small>
          <% } %>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
          <label for="url">🌐 URL<span style="color: red;">*</span></label>
          <input
              type="url"
              name="url"
              id="url"
              placeholder="https://bang.jaw.dev/"
              value="<%= bookmark.url %>"
              style="width: 100%;"
              required
          >
          <% if (state.errors.url) { %>
              <small style="color: red;"><%= state.errors.url %></small>
          <% } %>
      </div>

      <div style="display: flex; gap: 10px;">
          <button type="submit" style="flex: 1;">💾 Save</button>
      </div>
  </form>
</div>
