<div>
  <h1>Dashboard</h1>

  <div>
      <a href="/actions/create">Create New Action</a>
  </div>

  <% if (actions && actions.length > 0) { %>
      <table>
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Trigger</th>
                  <th>URL</th>
                  <th>Type</th>
                  <th>Created</th>
              </tr>
          </thead>
          <tbody>
              <% actions.forEach(action => { %>
                  <tr>
                      <td><%= action.name %></td>
                      <td><%= action.trigger %></td>
                      <td><%= action.url %></td>
                      <td><%= action.action_type %></td>
                      <td><%= new Date(action.created_at).toLocaleDateString() %></td>
                  </tr>
              <% }); %>
          </tbody>
      </table>
  <% } else { %>
      <div>
          <p>You haven't created any actions yet.</p>
          <p>Get started by clicking "Create New Action" above!</p>
      </div>
  <% } %>
</div>
