<script>
    async function renderMarkdown(content) {
        const response = await fetch('/api/notes/render-markdown', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({ content: content }),
        });

        const data = await response.json();
        return data.content;
    };

    async function toggleContent() {
        const content = document.getElementById('content');
        const preview = document.getElementById('content-preview');

        if (content.style.display === 'none') {
            content.style.display = 'block';
            preview.style.display = 'none';
            document.getElementById('toggle-content-btn').innerHTML = 'Preview';
        } else {
            content.style.display = 'none';
            preview.style.display = 'block';
            preview.style.padding = '5px 10px';
            preview.style.borderRadius = '3px';
            preview.style.borderStyle = 'solid';
            preview.style.borderColor = '#767676';
            preview.style.borderWidth = '1px';
            document.getElementById('toggle-content-btn').innerHTML = 'Edit';
        }
    }

    window.addEventListener('load', () => {
        const toggleContentBtn = document.getElementById('toggle-content-btn');
        const content = document.getElementById('content');
        const preview = document.getElementById('content-preview');
        let fetchedContent = '';
        let lastFetchedContentValue = '';

        if (toggleContentBtn) {
            toggleContentBtn.addEventListener('mouseenter', async () => {
                if (toggleContentBtn.innerHTML === 'Preview' && content.value !== '' && content.value !== lastFetchedContentValue) {
                    fetchedContent = await renderMarkdown(content.value);
                    lastFetchedContentValue = content.value;
                }
            });

            toggleContentBtn.addEventListener('click', async () => {
                preview.innerHTML = fetchedContent;
            });
        }
    });
</script>

<div style="display: flex; flex-direction: column; gap: 20px;">
    <div>
        <h2>📝 Notes / <%= note.id %> / Edit</h2>
        <p>Edit your note</p>
    </div>

    <form
        method="POST"
        action="/notes/<%= note.id %>/update"
        style="border-style: dashed; border-radius: 5px; padding: 20px; display: flex; flex-direction: column; gap: 10px;"
    >
        <%- include('../components/input-csrf.html') %>

        <div style="display: flex; flex-direction: column; gap: 5px;">
            <label for="title">📝 Title<span style="color: red;">*</span></label>
            <input
                type="text"
                name="title"
                id="title"
                placeholder="My Note Title"
                value="<%= state.input.title ?? note.title %>"
                style="width: 100%;"
                required
            >
            <% if (state.errors.title) { %>
                <small style="color: red;"><%= state.errors.title %></small>
            <% } %>
        </div>

        <div style="display: flex; flex-direction: column; gap: 5px;">
            <div style="display: flex; gap: 10px; align-items: center;">
                <label for="content">📄 Content<span style="color: red;">*</span></label>
                <button type="button" id="toggle-content-btn" class="no-style-btn" onclick="toggleContent()">Preview</button>
            </div>
            <div class="content" id="content-preview" style="display: none;"></div>
            <textarea
                name="content"
                id="content"
                placeholder="Note content..."
                style="width: 100%; min-height: 200px; resize: vertical;"
                required
            ><%= state.input.content ?? note.content %></textarea>
            <% if (state.errors.content) { %>
                <small style="color: red;"><%= state.errors.content %></small>
            <% } %>
        </div>

        <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 10px;">
            <button type="button" onclick="location.href='/notes'">❌ Cancel</button>
            <button type="submit">💾 Save</button>
        </div>
    </form>
</div>
