<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
      <div style="display: flex; flex-direction: column; gap: 5px;">
        <h2 style="margin: 0;">👤 Account</h2>
        <p>Manage your account details.</p>
      </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">
    <form
      style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;"
      action="/settings/account" method="POST">

      <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="username">👤 Username<span style="color: red;">*</span></label>
        <input type="text" id="username" name="username" value="<%= state.input.username ?? user.username %>" required>

        <% if (state.errors.username) { %>
          <small style="color: red;"><%= state.errors.username %></small>
        <% } %>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="default_per_page">📜 Default Per Page<span style="color: red;">*</span></label>
        <input type="text" id="default_per_page" name="default_per_page" value="<%= state.input.default_per_page ?? user.default_per_page %>" required>
        <% if (state.errors.default_per_page) { %>
          <small style="color: red;"><%= state.errors.default_per_page %></small>
        <% } %>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="default_search_provider">🔎 Default Search Provider<span style="color: red;">*</span></label>
        <select id="default_search_provider" name="default_search_provider" required>
            <% defaultSearchProviders.forEach(provider => { %>
                <option value="<%= provider %>" <%= (state.input.default_search_provider ?? user.default_search_provider) === provider ? 'selected' : '' %> >
                    <%= provider.charAt(0).toUpperCase() + provider.slice(1) %>
                </option>
            <% }); %>
        </select>
        <% if (state.errors.default_search_provider) { %>
          <small style="color: red;"><%= state.errors.default_search_provider %></small>
        <% } %>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="email">📧 Email<span style="color: red;">*</span></label>
        <input type="email" id="email" name="email" value="<%= state.input.email ?? user.email %>" required>

        <% if (state.errors.email) { %>
          <small style="color: red;"><%= state.errors.email %></small>
        <% } %>
      </div>

      <button type="submit" style="width: 100%;">🔄 Update</button>
    </form>
  </div>

</div>
