<script>
  function showExportDataTab(language) {
    document.querySelectorAll('#html, #json').forEach(tab => {
      tab.style.display = 'none';
    });

    document.getElementById(language).style.display = 'flex';
  }
</script>

<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; flex-direction: column; gap: 5px;">
    <h2 style="margin: 0;">📦 Data</h2>
    <p>Import and Export your data</p>
  </div>

  <div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">
    <div style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;">
      <div style="display: flex; gap: 5px;">
        <button style="width: 100%;" onclick="showExportDataTab('json')">JSON</button>
        <button style="width: 100%;" onclick="showExportDataTab('html')">HTML</button>
      </div>

      <div id="json" style="display: flex; flex-direction: column; gap: 10px;">
        <p>Export your bookmarks and custom actions</p>

        <form method="POST" action="/settings/data/export">
          <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />
          <div style="display: flex; flex-direction: column; gap: 10px;">
            <div>
              <label for="bookmarks-checkbox">
                <input type="checkbox" id="bookmarks-checkbox" name="options[]" value="bookmarks">
                Include Bookmarks
              </label>
            </div>
            <div>
              <label for="actions-checkbox">
                <input type="checkbox" id="actions-checkbox" name="options[]" value="actions">
                Include Actions
              </label>
            </div>


            <button type="submit" style="width: 100%;">⬇️ Export</button>
          </div>
          <% if (state.errors.options) { %>
            <small style="color: red;"><%= state.errors.options %></small>
          <% } %>
        </form>
      </div>

      <div id="html" style="display: none; flex-direction: column; gap: 10px;">
        <p>Export your bookmarks to import to browsers</p>
        <button type="button" onclick="location.href='/bookmarks/export'">⬇️ Export</button>
      </div>
    </div>

    <div style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;">
      <div style="display: flex; flex-direction: column; gap: 5px;">
        <h3>⬆️ Import Data</h3>
        <p>Import your bookmarks and custom actions</p>
      </div>

      <form method="POST" action="/settings/data/import">
        <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />
        <div style="display: flex; flex-direction: column; gap: 10px;">
          <textarea
            name="config"
            rows="10"
            style="width: 100%;"
            placeholder="Paste your JSON configuration here"></textarea>
            <% if (state.errors.config) { %>
              <small style="color: red;"><%= state.errors.config %></small>
          <% } %>
          <button type="submit">⬆️ Import</button>
        </div>
      </form>
    </div>
  </div>
</div>
