<script>
  function viewApiKey() {
    const apiKeyPre = document.getElementById('apiKeyPre');
    const viewOrHideButton = document.getElementById('view-or-hide-button');
    if (apiKeyPre.textContent === '••••••••••••••••••••••••••••••••••••••••••••••••') {
      apiKeyPre.textContent = '<%= user.api_key %>';
      viewOrHideButton.textContent = '👁️ Hide';
    } else {
      apiKeyPre.textContent = '••••••••••••••••••••••••••••••••••••••••••••••••';
      viewOrHideButton.textContent = '️👁️ View';
    }
  }

  function copyApiKey() {
    const apiKey = '<%= user.api_key %>';
    navigator.clipboard.writeText(apiKey).then(() => {
      createToast('🔑 API key copied to clipboard!')
    });
  }
</script>

<div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

  <div style="display: flex; justify-content: space-between; align-items: center; flex-wrap: wrap;">
      <div style="display: flex; flex-direction: column; gap: 5px;">
        <h2 style="margin: 0;">👤 Account</h2>
        <p>Manage your account details.</p>
      </div>
  </div>

  <div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">
    <form
      style="border-style: dashed; border-radius: 5px; padding: 20px; width: 32.5%; display: flex; flex-direction: column; gap: 10px;"
      action="/settings/account" method="POST">

      <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="username">👤 Username<span style="color: red;">*</span></label>
        <input type="text" id="username" name="username" value="<%= state.input.username ?? user.username %>" required>

        <% if (state.errors.username) { %>
          <small style="color: red;"><%= state.errors.username %></small>
        <% } %>
      </div>


      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="email">📧 Email<span style="color: red;">*</span></label>
        <input type="email" id="email" name="email" value="<%= state.input.email ?? user.email %>" required>

        <% if (state.errors.email) { %>
          <small style="color: red;"><%= state.errors.email %></small>
        <% } %>
      </div>

      <div style="display: flex; flex-direction: column; gap: 5px;">
        <label for="default_search_provider">🔎 Default Search Provider<span style="color: red;">*</span></label>
        <select id="default_search_provider" name="default_search_provider" required>
            <% defaultSearchProviders.forEach(provider => { %>
                <option value="<%= provider %>" <%= (state.input.default_search_provider ?? user.default_search_provider) === provider ? 'selected' : '' %> >
                    <%= provider.charAt(0).toUpperCase() + provider.slice(1) %>
                </option>
            <% }); %>
        </select>
        <% if (state.errors.default_search_provider) { %>
          <small style="color: red;"><%= state.errors.default_search_provider %></small>
        <% } %>
      </div>

      <button type="submit" style="width: 100%;">🔄 Update</button>
    </form>
  </div>

  <div style="display: flex; flex-direction: column; gap: 20px; max-width: 100%;">

    <div style="flex: 1; border: dashed; padding: 20px; border-radius: 5px; display: flex; flex-direction: column; gap: 10px; width: 32%;">
        <div style="display: flex; align-items: center; justify-content: space-between;">
          <div style="display: flex; align-items: center; gap: 5px;">
            <strong>🔑 API Key</strong>
            <% if (user.api_key_version > 0) { %>
              <small style="color: #bbb;">(v<%= user.api_key_version %>)</small>
            <% } %>
          </div>

          <div style="display: flex; align-items: center; gap: 10px;">


            <% if (user.api_key) { %>
              <button onclick="viewApiKey()" class="no-style-btn" id="view-or-hide-button">👁️ View</button>
              <button onclick="copyApiKey()" class="no-style-btn">📋 Copy</button>
              <a href="/api-docs" target="_blank">📃 Docs</a>
            <% } %>
          </div>
        </div>

        <pre id="apiKeyPre" style="white-space: nowrap; overflow-x: auto; padding-right: 150px;"><% if (!user.api_key) { %>click to generate api key<% } else { %>••••••••••••••••••••••••••••••••••••••••••••••••<% } %></pre>

        <% if (user.api_key_version > 0) {  %>
          <button onclick="document.getElementById('regenerate-modal').showModal()">🔄 Regenerate</button>
          <dialog id="regenerate-modal" style="width: 400px;">
            <h2>🔄 Regenerate</h2>
            <p>This action will invalidate the current key. Are you sure you want to generate a new API key?</p>
            <form action="/settings/create-api-key" method="post">
              <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />

              <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
                <button type="button" onclick="this.closest('dialog').close()">❌ Cancel</button>
                <button type="submit">🔄 Regenerate</button>
              </div>
            </form>
          </dialog>
        <% } else { %>
          <form action="/settings/create-api-key" method="post">
            <input type="hidden" id="csrfToken" name="csrfToken" value="<%= csrfToken %>" />
            <button type="submit" style="width: 100%;">➕ Generate</button>
          </form>
        <% } %>

        <% if (user.api_key_created_at) { %>
          <small style="color: #bbb;">Created: <%= new Date(user.api_key_created_at).toLocaleString() %></small>
        <% } %>
      </div>

  </div>

</div>
