<script>
  document.addEventListener('DOMContentLoaded', () => {
    const button = document.getElementById('scroll-top-button');

    button.style.visibility = 'hidden';
    button.style.opacity = '0';
    button.style.transition = 'visibility 0s, opacity 0.3s ease-in-out';

    window.addEventListener('scroll', function () {
      if (window.scrollY > 400) {
        button.style.visibility = 'visible';
        button.style.opacity = '1';
      } else {
        button.style.visibility = 'hidden';
        button.style.opacity = '0';
      }
    });

    button.addEventListener('click', () => {
      scrollToTop();
    });
  });

  function scrollToTop() {
    window.scrollTo({
      top: 0,
      behavior: 'smooth',
    });
  }
</script>

<button
  id="scroll-top-button"
  title="scroll to top"
  style="position: fixed; bottom: 1rem; right: 1rem; z-index: 4;"
>
    ↑
</button>
