<!DOCTYPE html>
<html lang="en" data-theme="light">

	<%- include('./_partials/head.html') %>

	<body style="display: flex; flex-direction: column; gap: 30px; min-height: 100vh;">

		<%- include('./_partials/header.html') %>

		<main style="flex: 1;">
			<%- body %>
		</main>

		<%- include('./_partials/footer.html') %>

		<% if (['/actions', '/bangs', '/bookmarks', '/tabs'].includes(path) || path.startsWith('/notes') || path.startsWith('/search')) { %>
			<%- include('./_partials/scroll-to-top.html') %>
		<% } %>
	</body>

</html>
