<!DOCTYPE html>
<html lang="en" data-theme="light">

  <%- include('./partials/head.html') %>

  <body style="display: flex; flex-direction: column; min-height: 100vh; gap: 30px; position: relative;">

    <header>
      <!-- top left -->
      <nav style="position: absolute; left: 0; margin-left: 3rem; display: flex; gap: 20px;" aria-label="Main navigation">
        <a href="/" style="font-weight: <%= path === '/' ? 'bold' : 'normal' %>; <%= path === '/' ? 'text-decoration: underline;' : '' %>">🔎 Search</a>
        <span aria-hidden="true">|</span>
        <a href="/how-to" style="font-weight: <%= path === '/how-to' ? 'bold' : 'normal' %>; <%= path === '/how-to' ? 'text-decoration: underline;' : '' %>">❓ How To</a>
      </nav>

      <!-- top right -->
      <% if (typeof state?.user !== 'undefined') { %>
        <details style="position: absolute; right: 0; margin-right: 3rem;">
          <summary><%= state.user.username %> 👤</summary>
          <div style="position: absolute; top: 100%; right: 0; z-index: 1; border: solid; display: flex; flex-direction: column; padding: 10px; background-color: var(--background-color); border-radius: 5px; min-width: 150px; gap: 10px;">
              <a href="/actions" style="font-weight: <%= path === '/actions' ? 'bold' : 'normal' %>; <%= path === '/actions' ? 'text-decoration: underline;' : '' %>">⚡ Actions</a>
              <a href="/bookmarks" style="font-weight: <%= path === '/bookmarks' ? 'bold' : 'normal' %>; <%= path === '/bookmarks' ? 'text-decoration: underline;' : '' %>">🔖 Bookmarks</a>
              <a href="/notes" style="font-weight: <%= path === '/notes' ? 'bold' : 'normal' %>; <%= path === '/notes' ? 'text-decoration: underline;' : '' %>">📝 Notes</a>
              <hr style="border: none; border-top: solid 1px; margin: 5px 0;">
              <% if (state.user.is_admin) { %>
                <a href="/admin" style="font-weight: <%= path === '/admin' ? 'bold' : 'normal' %>; <%= path === '/admin' ? 'text-decoration: underline;' : '' %>">️👑 Admin</a>
              <% } %>
              <a href="/api-docs" style="font-weight: <%= path === '/api-docs' ? 'bold' : 'normal' %>; <%= path === '/api-docs' ? 'text-decoration: underline;' : '' %>">📄 API Docs</a>
              <a href="/settings" style="font-weight: <%= path.match(/^\/settings/) ? 'bold' : 'normal' %>; <%= path.match(/^\/settings/) ? 'text-decoration: underline;' : '' %>">⚙️ Settings</a>
              <hr style="border: none; border-top: solid 1px; margin: 5px 0;">
              <a href="/logout">🚪 Logout</a>
          </div>
        </details>
      <% } else { %>
        <div style="position: absolute; right: 0; margin-right: 3rem;">
          <a href="#" onclick="document.getElementById('login-dialog').showModal(); return false;">🔑 Login</a>
        </div>
      <% } %>
    </header>

    <main style="display: flex; justify-content: center; flex: 1">
      <div style="max-width: 1280px; width: 100%; padding: 20px; box-sizing: border-box;">
        <%- body %>
      </div>
    </main>

    <%- include('./partials/footer.html') %>

    <% if (!state.user) { %>
      <dialog id="login-dialog" style="width: 450px;">
        <h2>🔑 Login</h2>
        <p>Enter your email address and we'll send you a magic link to log in.</p>

        <form action="/login" method="POST" style="display: flex; flex-direction: column; gap: 15px; margin-top: 20px;">
          <input type="hidden" name="csrfToken" value="<%= csrfToken %>" />

          <%- include('../components/inputs/email.html', {
            id: 'email-input',
            name: 'email',
            label: '📧 Email Address',
            placeholder: 'your@email.com',
            value: state.input && state.input.email ? state.input.email : '',
            required: true,
            autocomplete: 'email',
            autofocus: true,
            style: 'padding: 10px; border: 1px solid var(--border-color); border-radius: 5px;',
            error: state.errors && state.errors.email ? state.errors.email : undefined
          }) %>

          <div
            class="cf-turnstile"
            data-sitekey="<%- state.cloudflare_turnstile_site_key %>"
            data-size="flexible"
           >
           </div>

          <div style="display: flex; justify-content: flex-end; gap: 10px; margin-top: 20px;">
            <button type="button" onclick="this.closest('dialog').close()">❌ Cancel</button>
            <button type="submit">🚀 Send</button>
          </div>
        </form>
      </dialog>

      <script src="https://challenges.cloudflare.com/turnstile/v0/api.js" defer></script>

      <script>
        document.addEventListener('DOMContentLoaded', () => {
          const emailInput = document.getElementById('email-input');
          const urlParams = new URLSearchParams(window.location.search);
          const state = JSON.parse(`<%- JSON.stringify(state) %>`);

          if (urlParams.get('modal') === 'login') {
            document.getElementById('login-dialog').showModal()
            urlParams.delete('modal');
            const newUrl = `${window.location.pathname}${urlParams.toString() ? '?' + urlParams.toString() : ''}`;
            history.replaceState({}, document.title, newUrl);
          }

          // auto pre-fill the email if the user is logged in before and the email is in local storage
          const localStorageData = getLocalStorageData();
          if (!state.errors?.email && localStorageData.user?.email) {
              emailInput.value = localStorageData.user.email;
          }

          // if there are errors, use the submitted email value
          if (state.errors?.email && state.input?.email) {
              emailInput.value = state.input.email;
          }
        });
      </script>
    <% } %>
  </body>

</html>
