<!DOCTYPE html>
<html lang="en" data-theme="light">

	<%- include('./partials/head.html') %>

	<body style="display: flex; flex-direction: column; gap: 30px; min-height: 100vh;">

		<%- include('./partials/header.html') %>

    <main style="flex: 1; display: flex; flex-direction: column; gap: 30px;">

      <header>
        <h2>⚙️ Settings</h2>
        <p>Manage your settings</p>
      </header>

      <div style="display: grid; grid-template-columns: 15% 85%; flex: 1;">
        <aside style="display: inline-block; height: 100%; padding-right: 40px">
          <nav aria-label="Settings navigation">
            <ul style="list-style: none; padding: 0; margin: 0; display: flex; flex-direction: column; gap: 10px;">
              <% if (state.user.is_admin) { %>
                <li>
                  <a style="font-weight: normal; display: block;" href="/admin">👑 Admin</a>
                </li>
              <% } %>
              <hr style="border: none; border-top: solid 1px var(--link-divider-color); margin: 5px 0;">
              <li>
                <a style="font-weight: <%= (path === '/settings' || path === '/settings/account') ? 'bold' : 'normal' %>; <%= (path === '/settings' || path === '/settings/account') ? 'text-decoration: underline' : '' %>; display: block;" href="/settings/account" <%= (path === '/settings' || path === '/settings/account') ? 'aria-current="page"' : '' %>>👤 Account</a>
              </li>
              <hr style="border: none; border-top: solid 1px var(--link-divider-color); margin: 5px 0;">
              <li>
                <a style="font-weight: <%= path === '/settings/data' ? 'bold' : 'normal' %>; <%= path === '/settings/data' ? 'text-decoration: underline' : '' %>; display: block;" href="/settings/data" <%= path === '/settings/data' ? 'aria-current="page"' : '' %>>📊 Data</a>
              </li>
              <hr style="border: none; border-top: solid 1px var(--link-divider-color); margin: 5px 0;">
              <li>
                <a style="font-weight: <%= path === '/settings/danger-zone' ? 'bold' : 'normal' %>; <%= path === '/settings/danger-zone' ? 'text-decoration: underline' : '' %>; display: block;" href="/settings/danger-zone" <%= path === '/settings/danger-zone' ? 'aria-current="page"' : '' %>>⚠️ ️Danger Zone</a>
              </li>
            </ul>
          </nav>
        </aside>

        <section style="display: inline-block; border-left: solid 1px var(--aside-border-color); padding-left: 30px">
          <%- body %>
        </section>

      </div>

    </main>

		<%- include('./partials/footer.html') %>

	</body>

</html>
