<footer style="display: flex; gap: 10px; justify-content: center; align-items: center; flex: 0;">
  <span>Copyright © <span id="copyright">2024</span>. Made with ❤️ by <a href="https://github.com/wajeht"
      target="_blank">@wajeht ↗️</a></span>
  <span>|</span>
  <nav>
    <ul style="display: flex; gap: 10px; padding: 0;">
      <li style="list-style-type: none;"><a href="https://github.com/wajeht/bang" target="_blank">Github
          ↗️</a></li>
      </li>
      <span>|</span>
      <li style="list-style-type: none;"><a href="/privacy-policy">Privacy</a></li>
      <span>|</span>
      <li style="list-style-type: none;"><a href="/terms-of-service">Terms</a></li>
      <span>|</span>
		  <%- include('./theme.html') %>
    </ul>
  </nav>
</footer>
