<header>
  <nav>
      <div>
          <h1><a href="/">❗️Bang</a></h1>
          <a href="/actions">⚡ Actions</a>
          <a href="/bookmarks">🔖 Bookmarks</a>
          <a href="/notes">📝 Notes</a>
      </div>

      <details>
          <summary><%= state.user.username %> 👤</summary>
          <div class="flex flex-col">
              <% if (state.user.is_admin) { %>
                <a href="/admin">👑 Admin</a>
              <% } %>
              <a href="/settings">⚙️ Settings</a>
              <a href="/api-docs">📃 API Docs</a>
              <hr>
              <a href="/logout">🚪 Logout</a>
          </div>
      </details>
  </nav>
</header>
